.auth-container {
  max-width: 400px;
  margin: 50px auto;
  padding: 30px;
  background: #111;
  color: #fff;
  border-radius: 10px;
  font-family: 'Roboto';
}

.auth-container h2 {
  text-align: center;
  margin-bottom: 20px;
}

.auth-container h3 {
  margin-bottom: 10px;
  font-weight: normal;
}

.auth-container input,
.auth-container select {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  border-radius: 5px;
  border: none;
}

.auth-container button {
  width: 100%;
  padding: 12px;
  margin-top: 12px;
  background: #00ffcc;
  color: #111;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.auth-container button:hover {
  background: #00e6b8;
}
