body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto';
  background: #000;
  color: #fff;
}

a {
  color: #00ffcc;
  text-decoration: none;
}

footer {
  text-align: center;
  padding: 15px 0;
  background: #111;
  color: #aaa;
}
